@import "node_modules/wholesale-styleguide-scss/quark";

.time-wrapper {
  width: 150px;
  position: relative;
}

.time-wrapper > input.ws-time-picker {
  width: 100%;
}

.time-wrapper > .time-picker {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  position: absolute;
  display: none;
}

.time-wrapper > .opened {
  display: block;
}

.time-wrapper > .closed {
  display: none;
}

.time-wrapper > .time-picker > .hours, .minutes {
  width: 35px;
  height: 35px;
  display: inline;
  margin: 0 5px 8px 8px;
  padding: 6px;
  font-size: 14px;
}

.time-wrapper > .time-picker > .hours {
  margin: 0 9px 8px 19px;
}

.time-wrapper > .time-picker > .hourUp, .time-wrapper > .time-picker > .minuteUp {
  float: left;
  width: 30px;
  padding: 19px 5px 8px 28px;
}

.time-wrapper > .time-picker > .hourDown, .time-wrapper > .time-picker > .minuteDown {
  padding: 13px 4px 0 18px;
  width: 30px;
  display: inline;
}

.time-wrapper > .time-picker > .line {
  height: 1px;
  width: 128px;
  background-color: gray;
  margin: 19px 11px;
}

.cancel, .ok {
  margin: 0 19px 19px 19px;
  color: $cerulean;
}