.time-wrapper {
  position: relative
  width: 100px;
}

.ws-time-picker {
  width: 100px;
}

.time-picker {
  height: 100px;
  width: 50%;
  background-color: black;
  display: none;
  position: absolute;
}

.opened {
  display: block;
}