@import "node_modules/wholesale-styleguide-scss/variables";
@import "node_modules/wholesale-styleguide-scss/components/base/icons";
@import "node_modules/wholesale-styleguide-scss/components/base/forms";
@import "node_modules/wholesale-styleguide-scss/util";

.ws-week-wrapper {
  display: inline-block;
  position: relative;

  > input {
    @include default-input();
    font-family: inherit;
    color: inherit;
    width: 100%;

    + .icon {
      width: 16px;
      height: 16px;
      right: 11px;
      top: 8px;
      position: absolute;
    }
  }

  > .ws-week-picker-calendar {
    padding: 13px 0;
    top: 44px;
    width: 596px;
    height: 258px;
    padding-bottom: 19px;
    background-color: $white;
    position: absolute;
    display: none;
    box-shadow: map-get($elevation-shadows, 'floating');
    z-index: z('shoryuken');

    &.opened {
      display: block;
    }

    > .year-selector {
      display: inline-block;

      > .icon {
        margin-top: rem(5px);
        height: rem(12px);
        width: rem(12px);
        cursor: pointer;
        color: $shark;
        font-size: $font-size-small;

        &[disabled] {
          visibility: hidden;
        }

        &:hover {
          color: $heaven;
        }
      }

      > .year {
        color: $heron;
        font-weight: 300;
        padding-bottom: 13px;
      }

      &.prev-year {
        width: 84px;
        display: inline-block;

        > .checkPrevYear {
          float: left;
          margin-left: rem(11px);
        }

        > .year {
          margin-left: 38px;
        }
      }

      &.cur-year {
        width: 433px;
        margin: 0 -3px;

        > .year {
          text-align: center;
        }
      }

      &.next-year {
        width: 77px;
        float: right;

        > .checkNextYear {
          float: left;
          margin-left: rem(-2px);
        }

        > .year {
          float: left;
          margin-left: rem(6px);
          padding-right: rem(6px);
        }
      }
    }

    > .cur-year > .weeks,
    > .next-year > .weeks {
      margin-left: -5px;
    }

    .month {
      box-sizing: border-box;
      color: $jumbo;
      display: inline-block;
      width: 40px;
      height: 40px;
      padding-left: 5px;
      line-height: 39px;
      text-align: center;
      margin-left: 1px;
      margin-bottom: 4px;
      background-color: $silver;
    }


    .weeks > .weekNumbers:last-child > .month {
      padding-left: 0;
      width: 45px;
    }

    .weekNumbers {
      width: 35.3px;
      height: 35.3px;
      float: left;
      font-size: $font-size-small;
    }

    .week {
      background: 0 0;
      border: 1px solid transparent;
      border-radius: 150px;
      box-sizing: border-box;
      color: $base-font-color;
      cursor: pointer;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      line-height: 31px;
      text-align: center;
      margin: 3px 6px;

      &.now,
      &.now:hover {
        background-color: $heaven;
        color: $white;
      }
      &:hover {
        background-color: $earl-gray;
      }

      &[disabled] {
        color: $french-gray;
        background-color: $white;
        cursor: not-allowed;
      }
    }

    .arrow-up {
      $size: 10px;
      width: 0;
      height: 0;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $white;
      position: absolute;
      top: -1 * $size;
      left: 20px;
    }
  }
}
