.ws-inline-edit {
  display: inline-block;
  .input-wrapper input {
    color: inherit;
  }
  &:not(.is-editing) .input-wrapper input {
    border-color: transparent;
    box-shadow: none;
    background: transparent;
    color: inherit;
  }
  &.number input,
  &.price input {
    text-align: right;
  }
}
table td .ws-inline-edit input {
  line-height: inherit;
  // Correct table td padding
  margin: 0 -$space-m;
  padding: 0 $space-m;
}
