$export-form-css: false;

@import "node_modules/wholesale-styleguide-scss/variables";
@import "node_modules/wholesale-styleguide-scss/util";
@import "node_modules/wholesale-styleguide-scss/components/base/forms";

:host ::content .flatpickr-wrapper {
    display: block;
    position: relative;
    font-family: $base-font-family;
    font-weight: normal;
    > input {
        @include default-input();
        font-family: inherit;
        color: inherit;
        width: 100%;
    }
    > .icon-calendar {
        right: 11px;
        top: 8px;
        position: absolute;
        width: 16px;
        height: 16px;
    }
    > .flatpickr-calendar {
        background: #fff;
        border: 1px solid #ddd;
        font-size: 90%;
        border-radius: 4px;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 75ms;
        width: 300px;
        > .flatpickr-month {
            background: 0 0;
            color: #000;
            padding: 13px 0;
            text-align: center;
            position: relative;
            > .flatpickr-next-month,
            > .flatpickr-prev-month {
                text-decoration: none;
                cursor: pointer;
                color: $santas-gray;
                padding: 0 23px;
                &:hover {
                    color: $santas-gray;
                }
                > i {
                    position: relative;
                    bottom: -4px
                }
            }
            > .flatpickr-prev-month {
                float: left
            }
            > .flatpickr-next-month {
                float: right
            }
            > .flatpickr-current-month {
                font-size: 135%;
                font-weight: 300;
                color: rgba(0, 0, 0, .7);
                > .cur_month {
                    color: $santas-gray;
                    font-size: 16px;
                }
                > .cur_year {
                    cursor: default;
                    padding: 0 2px;
                    color: $santas-gray;
                    font-size: 16px;
                }
            }
        }
        > .flatpickr-weekdays {
            font-size: 90%;
            background-color: $sail;
            padding: 8px 7px;
            > span {
                color: $santas-gray;
                text-align: center;
                display: inline-block;
                font-size: 14px;
                width: 32px;
                padding-left: 2px;
                &:first-child {
                    padding-left: 7px;
                }
                &:nth-child(2) {
                    padding-left: 5px;
                }
            }
        }
        > .flatpickr-days {
            padding: 7px;
        }
        > .flatpickr-weeks {
            width: 32px;
            float: left;
            padding: 7px 7px 7px 10px;
        }
        & .flatpickr-day {
            background: 0 0;
            border: 1px solid transparent;
            border-radius: 150px;
            box-sizing: border-box;
            font-size: 13px;
            color: #393939;
            cursor: pointer;
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 31px;
            margin: 0 1px 1px;
            text-align: center;
            &:hover {
                background-color: $sail;
            }
            &.today {
                background-color: $liverleaf;
                color: $white;
            }
            &.selected,
            &.selected:hover {
                background-color: $liverleaf;
                color: $white;
            }
            &.disabled, &.disabled:hover {
                color: $santas-gray;
                background: 0 0;
                border-color: transparent;
                cursor: default
            }
        }
    }
    &.inline > .flatpickr-calendar,
    &.open > .flatpickr-calendar {
        z-index: 100;
        opacity: 1;
        visibility: visible;
    }
    &.inline > .flatpickr-calendar {
        position: static;
    }
    > .flatpickr-time {
        overflow: auto;
        border-top: 1px solid #ddd;
        text-align: center;
        > .flatpickr-hour,
        > .flatpickr-minute {
            background: 0 0;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            box-shadow: none;
            border: 0;
            border-radius: 0;
            display: inline-block;
            width: 33%;
            min-width: 33%;
            text-align: center;
            margin: 0;
            padding: 0;
            height: 38px;
            line-height: 38px;
            cursor: pointer;
            font-weight: 700;
            color: #393939;
            &:hover {
                background: #f0f0f0;
            }
            &:focus {
                outline: 0;
                border: 0;
            }
        }
        > .flatpickr-minute {
            width: 26%;
            font-weight: 300
        }
    }
    > .flatpickr-am-pm:hover {
        background: #f0f0f0
    }
    > .flatpickr-am-pm,
    > .flatpickr-time-separator {
        height: 38px;
        display: inline-block;
        line-height: 38px
    }
    > .flatpickr-am-pm {
        width: 21%;
        padding: 0 2%;
        cursor: pointer;
        text-align: left
    }
}
