.ws-notification-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
}
.ws-notification-list {
  margin: $space-default;
}
.ws-notification-list .notification {
  display: block;
  margin: $space-stack-m;
  max-height: 300px;
}