$use-embedded-font: true;

@import "~wholesale-styleguide-scss/index";
@import "../src/ws-header/ws-header";
@import "../src/ws-date-picker/ws-date-picker";
@import "../src/ws-inline-edit/ws-inline-edit";
@import "../src/ws-week-picker/ws-week-picker";
@import "../src/ws-notification/ws-notification";
@import "../src/ws-tiles-chart/ws-tiles-chart";

.container {
  margin: 20px;
}


//Example of how to style ws-tiles-chart using classes (.tile.groupName).
.ws-tiles-chart .tile {
  &.lessThan2h.group-over {
      background-color: $madang;
  }
  &.from2hTo1Day {
    background-color: $west-side;
    &.group-over{
      background-color: $grandis;
    }
  }
  &.moreThan1Day {
    background-color: $flamingo;
    &.group-over{
      background-color:$geraldine
    }
  }
}
