$use-embedded-font: true;
$schema: 'water-blue';

@import "~@fabric-design/scss-legacy/index";
@import "../src/index";


.container {
  margin: 20px;
}


//Example of how to style ws-tiles-chart using classes (.tile.groupName).
.ws-tiles-chart .tile {
  &.lessThan2h.group-over {
      background-color: $madang;
  }
  &.from2hTo1Day {
    background-color: $west-side;
    &.group-over{
      background-color: $grandis;
    }
  }
  &.moreThan1Day {
    background-color: $flamingo;
    &.group-over{
      background-color:$geraldine
    }
  }
}
